<html>

  <head>
    <title>Weather</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>

    <div class="container">
      <img src="../images/1.png" class="img" alt="" />
      <img src="../images/1.png" class="img" alt="" />
      <img src="../images/1.png" class="img" alt="" />
      <img src="../images/1.png" class="img" alt="" />
      <div class="shape">
        <p>Which country do you want to know the weather about her?</p>

        <form id="form">
          <input type="text" id="address" value="" />
          <button class="btn">Send</button>
        </form>
        <div id="contact">
          <p class="results"> </p>
          <p class="results"> </p>
          <p class="results"> </p>
          <p class="results"> </p>
        </div>
      </div>

    </div>

    <script src="js/script.js"></script>
  </body>

</html>
